
.cname{
	
	background-color:#7E7B7A;
	height:100px;
	
	color:white;
	text-align:center;
	padding-top:35px;
	box-sizing:border-box;
	
	font-size:40px;
	font-weight:bold;
	font-style:italic;
	
}

.menu{
	background-color:#929081;
	height:50px;
	
	
	text-align:center;
	padding-top:15px;
	box-sizing:border-box;
	
}

a{
	color:white;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;	
	display:block;
}

a:hover{
	color:#7E7B7A;
		
}

.banner{
	/*background-image:url('bannerimage.jpg');*/
	background-image:url('view.jpg');
	height:500px;
	margin-top:5px;
	text-align:center;
	padding-top:150px;
	box-sizing:border-box;
	color:black;
	font-size:10px;
	font-family:arial black;
}

.about,.project,.client{
	
	
	margin-top:5px;
	text-align:center;
	color:#900C3F;
	font-size:30px;
	font-family:arial black;	
    
}



.aboutcontent{
	
	text-align:justify;
	color:black;
	font-size:20px;
	font-family:times new roman;
	
}

.address{
	 padding-left:5px;
	 padding-top:5px;
	 text-align:center;
	 background-color:#7E7B7A;
	 color:white;
	 font-family:arial black;
	 box-sizing:border-box;
	 height:150px;
	 margin-top:10px;
}


.qlinks{
	background-color:#7E7B7A;
	color:white;
	text-align:center;
	padding-top:5px;
	box-sizing:border-box;
	height:150px;
	margin-top:10px;
}

.qlinks a{
	 
	color:white;	
	
}


.social{
	background-color:#7E7B7A;
	color:white;
	text-align:center;
	padding-top:5px;
	box-sizing:border-box;
	height:150px;
	margin-top:10px;
}

.social a{
	 
	color:white;	
	
}
 
 .footer{
	 
	 background-color:#D9D7D6;
	 margin-top:3px;
	 text-align:center;
	 height:120px;
	 padding-top:30px;
	 color:black;
	 font-weight:bold;
	 font-size:20px;
 }

.image{
	
	position:fixed;
	left:30px;
	bottom:30px;
	border-radius:50px;	
}

.one{
	
	position:fixed;
	left:30px;
	bottom:150px;
}





h1{
	
	 background-color:#D9D7D6;
	 margin-top:3px;
	 text-align:center;
	 height:50px;
	 padding-top:30px;
	 color:black;
	
	 font-size:30px;
	 
}

form{
	margin-top:10px;
}


input{
	width:600px;
	text-align:center;
	border-bottom:1px solid gray;
	color:black;
	font-size:20px;
	margin-bottom:10px;
}

form .submit{
	background-color:#0E8C94;
	border-color:transperant;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	height:50px;
	margin-top:20px;

}


form .submit:hover{color:white;}
